*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 600px;
}


tr.border th{
border: 1px solid black;
text-align: center;
border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;


}